<div class="container">
  <form
    class="py-5 text-white"
    (submit)="sendMovieData()"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <label for="title">Title: </label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        [(ngModel)]="movie.title"
        placeholder="Movie title"
        #title="ngModel"
        required
      />
      <div *ngIf="title.errors?.['required']">Name is required.</div>
    </div>
    <div class="form-group">
      <label for="director">Director: </label>
      <input
        type="text"
        class="form-control"
        id="director"
        name="director"
        [(ngModel)]="movie.director"
        placeholder="Movie director"
        required
      />
    </div>
    <div class="form-group">
      <label for="year">Year: </label>
      <input
        type="number"
        class="form-control"
        max="{{ currentYear }}"
        id="year"
        name="year"
        [(ngModel)]="movie.year"
        placeholder="1993"
        required
      />
    </div>
    <div class="form-group">
      <label for="duration">Duration (min): </label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="movie.duration"
        id="duration"
        name="duration"
        placeholder="0"
        required
      />
    </div>
    <div class="form-group">
      <label for="category">Category: </label>
      <!-- Dinamically category -->
      <!------- Case EDIT ---------->
      <div *ngIf="this.id">
        <select
          *ngFor="let movieCategory of movie.category; let i = index"
          class="form-control my-1"
          [(ngModel)]="movie.category[i].name"
          id="category"
          name="category"
        >
          <option *ngFor="let category of categories">
            {{ category.name }}
          </option>
        </select>
      </div>
      <!------- Case CREATE ---------->
      <div *ngIf="!this.id">
        <select
          class="form-control my-1"
          [(ngModel)]="movie.category[0].name"
          id="category"
          name="category"
        >
          <option *ngFor="let category of categories">
            {{ category.name }}
          </option>
        </select>
      </div>
      <!-- ------------------------ -->
    </div>
    <div class="form-group">
      <label for="plot">Plot</label>
      <textarea
        class="form-control"
        [(ngModel)]="movie.plot"
        id="plot"
        name="plot"
        rows="4"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="poster">Poster: </label>
      <input
        type="file"
        class="form-control"
        [(ngModel)]="movie.path_locandina"
        id="poster"
        name="poster"
        accept="image/png, image/jpeg"
        value=""
        required
        (change)="showPreviewImage($event)"
      />
    </div>
    <p>Poster Image:</p>
    <img
      [src]="localUrl"
      style="width: 10rem"
      *ngIf="localUrl"
      class="imgPlaceholder my-2"
    />
    <div class="text-end">
      <button class="btn btn-primary my-2">{{ id ? "EDIT" : "CREATE" }}</button>
    </div>
  </form>
</div>
<div>{{ movie | json }}</div>
