<!-- <p>Admin Panel</p>
<p>{{ searchString }}</p>

<p>{{ id }}</p> -->

<!-- CARD EXAMPLE -->

<!-- <div class="d-flex flex-wrap">
    <div *ngFor="let movie of movies">
    <div
      class="content card m-1 bg-dark text-white"
      style="width: 10rem"
      routerLink="/film/{{ movie.id }}"
    >
      <div id="scroll-container" class="content-overlay"></div>
      <img
        class="card-img-top"
        src="../../../assets/movie-posters/{{ movie.path_locandina }}"
        alt="Card image cap"
        style="width: 100%; height: 25vw; object-fit: cover"
      />

      <div id="scroll-text" class="content-details fadeIn-bottom scroll-parent">
        <h5 class="h5 scroll-element">{{ movie.title }}</h5>
        <p class="movie_desc scroll-element">{{ movie.plot }}</p>
    </div>
    </div>
  </div>
</div> -->
<div
  class="alert text-center fw-bold"
  [ngClass]="isErrorStatus ? 'alert-danger' : 'alert-success'"
  *ngIf="showStatusMessage"
>
  {{ statusMessage }}
</div>

<div class="text-end py-2">
  <button class="btn btn-primary" routerLink="add">+ ADD MOVIE</button>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Poster</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Director</th>
        <th scope="col">Category</th>
        <th scope="col">Duration</th>
        <th scope="col">Year</th>
        <th scope="col" colspan="2" class="text-center">Options</th>
      </tr>
    </thead>

    <tbody class="text-white">
      <tr class="text-center" *ngIf="movies.length == 0 && searchString">
        Non esistono film corrispondenti alla ricerca
      </tr>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.id }}</td>
        <td>
          <img
            *ngFor="let moviePoster of movie.images; let i = index"
            style="width: 5rem"
            [src]="
              movie.images
                ? 'http://localhost:4200/api/get/image/' + movie.images[i].name
                : 'assets/no-image.png'
            "
            alt="movie_poster_{{ movie.id }}"
          />
        </td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.plot }}</td>
        <td>{{ movie.director }}</td>
        <td>
          <span *ngFor="let category of movie.category; let i = index"
            >{{ category.name }} {{ i < movie.category.length - 1 ? "," : "" }}
          </span>
        </td>
        <td>{{ movie.duration }} min</td>
        <td>{{ movie.year }}</td>
        <td>
          <button
            class="btn btn-outline-success"
            routerLink="edit/{{ movie.id }}"
          >
            EDIT
          </button>
        </td>
        <td>
          <button
            class="btn btn-outline-danger"
            (click)="deleteMovie(movie.id, movie.title)"
          >
            DELETE
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-spinner *ngIf="movies.length <= 0"></app-spinner>
