<!-- <p>movies-list works!</p>
<p>{{ searchString }}</p> -->

<app-spinner *ngIf="movies.length <= 0"></app-spinner>
<h2 class="text-white text-center" *ngIf="movies.length == 0 && searchString">
  Non esistono film corrispondenti alla ricerca
</h2>
<!-- <p>{{ id }}</p> -->
<!-- card example -->
<div class="d-flex flex-wrap">
  <div *ngFor="let movie of movies">
    <div
      class="content card m-1 bg-dark text-white"
      style="width: 10rem"
      routerLink="/film/{{ movie.id }}"
    >
      <div id="scroll-container" class="content-overlay"></div>
      <img
        class="card-img-top"
        [src]="
          movie.images
            ? 'http://localhost:4200/api/get/image/' + movie.images[0].name
            : 'assets/no-image.png'
        "
        alt="Card image cap"
        style="width: 100%; height: 25vw; object-fit: cover"
      />
      <!-- Overlay content -->
      <div id="scroll-text" class="content-details fadeIn-bottom scroll-parent">
        <h5 class="h5 scroll-element">{{ movie.title }}</h5>
        <p class="movie_desc scroll-element">{{ movie.plot }}</p>
      </div>
    </div>
  </div>
</div>

<!-- --------------------  TEST ---------------------------- -->
<!-- <div class="d-flex">
  <div>
    <div
      class="content card mx-1 bg-dark text-white"
      style="width: 10rem"
      routerLink="/film/1"
    >
      <div class="content-overlay"></div>
      <img
        class="card-img-top"
        src="../../../assets/movie-posters/Harrypotterelapietrafilosofale.jpg"
        alt="Card image cap"
        style="width: 100%; height: 25vw; object-fit: cover"
      />
      <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
    </div>
  </div>
</div> -->

<div>{{ movies | json }}</div>

<!-- --------------------------- -->
